---
- name: Apply DISA STIG domain password policy
  community.windows.win_domain_password_policy:
    complexity_enabled: "{{ stig_password_policy.complexity_enabled }}"
    history_size: "{{ stig_password_policy.history_size | int }}"
    min_password_length: "{{ stig_password_policy.min_password_length | int }}"
    min_password_age: "{{ stig_password_policy.min_password_age_days | int }}"
    max_password_age: "{{ stig_password_policy.max_password_age_days | int }}"
    lockout_threshold: "{{ stig_password_policy.lockout_threshold | int }}"
    lockout_duration: "{{ stig_password_policy.lockout_duration_minutes | int }}"
    lockout_observation_window: "{{ stig_password_policy.lockout_window_minutes | int }}"
  run_once: true
  delegate_to: "{{ hardening_primary_dc }}"
